body{
    margin: 0;
}



nav.container-fluid {
    display: flex;
    justify-content: space-between;
}
.navbar-expand-lg navbar-light bg-light{
    background-color: orangered
}

.categories{
    display: flex;
    justify-content: space-between;
}

.categories .category-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: radial-gradient(#FFFFFF, #FFEFBF);
    text-align: center;
    border-bottom: 2px solid #CCCCCC;
    border-radius: 10px;
}

.categories .category-item span{
    font-family: 'Francois One', sans-serif;
    font-size: 18px;
    color: #666666;
    margin: auto;
}

.container-fluid{
    display: block;
    position: relative;
    max-width: 1200px;
    margin:0 auto;
    top:0;
    right:0;
    left:0;
    height: 50px;
    z-index: 999;
}
img{
    vertical-align: middle;
}
.dropdown{
    position: relative;
}
.heading{
    display: block;
    font-family: 'Francois One',sans-serif;
    color:#D43900;
    font-size:24px;
}


